#item #img{
    width: 230px;
    height: 230px;
}
#item img{
    height: 100%;
    max-width: 100%;
    object-fit: cover;
    transition: 0.5s;
}
#item img:hover{
    transform: scale(1.1);
}
#item h6{
    font-weight: 550;
}
#item #old-price{
    color: gray;
    text-decoration: line-through;
}

@media only screen and (max-width: 992px){
    #item #img{
        width: 190px;
        height: 190px;
    }
}

@media only screen and (max-width: 768px){
    #item #img{
        width: 140px;
        height: 140px;
    }
}

@media only screen and (max-width: 576px){
    #item #img{
        width: 120px;
        height: 120px;
    }
}